:root{
        --orange: #fc5d35;
        --black: #000;
        --white:#fff;
        --gray:#2e2e2d;
        --light:#f7f7f7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--black);
background-color: var(--white);
    text-align: left;
    
}

/* header section  */
.header{
    background-color: var(--light);
    width: 100%;
    height: 100vh;
}
.container{
    width: 85%;
    height: 100vh;
    margin: 0 auto;
}
ul{
    list-style: none;
   
    
}
li{
    display: inline-block;
    padding: 0.5rem 1.5rem;
    
}
.logo-img{
    display: inline-block;
       
   
    
    
}

a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.2rem;
    cursor: pointer;
    color: var(--gray);
  
}
.navbar{
    width: 100%;
    
    padding: 1.5rem 0;
    
}
.logo{
    width: 40%;
    float: left;
}
.logo-container{
    width: 10%;
    float: left;
}
.logo-container img{
    width: 90%;
}
.text{ 
    width: 20%;
    padding: 0.5rem 1rem 0.5rem 0;
    float: left;
   
    text-transform: uppercase;
    
}
.text span{
   font-weight: 700;
   font-size: 1.2rem;
    text-transform: uppercase;
}

.links-container{
    width: 55%;
    float: left;
}
.clear{
    clear: both;
}
.main-head{
    width: 100%;
    margin: 4rem auto 0;
}
.main-head-text{
    
    width: 50%;
    float: left;
}
.main-head-text *{
    margin: 1rem 0;
    padding: 0.5rem 0;
}
.main-head-text h1{
    font-weight: 700;
    font-size: 60px;
    width: 95%;
    line-height: 1.2;

}
.main-head-text p{
    color: var(--black);
    width: 85%;
    margin-left: 0.5rem;
    

}
.anchors{
     margin:2.5rem 0.5rem ;
}
.anchors a{
    text-transform: uppercase;
    padding: 0.7rem 1.8rem;
    margin:0.5rem;
    color: var(--white);
    
   
}
 .anchors .first{
    background-color: var(--orange);
    border: 1px solid var(--orange);
}
 .anchors .first:hover{
    background-color: var(--white);
    color: var(--orange);
    border: 1px solid var(--orange);
}
 .anchors .second{
    background-color: var(--black);
    border: 1px solid var(--black);
}
 .anchors .second:hover{
    background-color: var(--light);
    color: var(--black);
    border: 1px solid var(--black);
}
.main-head-img{
    margin: 2rem;
    width: 40%;
    float: left;
   

}
.main-head-img img{
    width: 95%;
}

/* End of Header  */

/* Start of Services */
section{
    margin-top: 4rem;
}
.services{
    
    text-align: center;
    height: 100vh;
}
.services h2{
    text-transform: capitalize;
    padding: 1rem;
        font-size: 2rem;
        font-weight: 700;
}

.card-container{
    width: 100%;
    margin: 2rem auto;
    
   
}
.card img{
    width:15%;
    max-height: 8rem;
}
.card *{
    width: 80%;
    margin: 0.5rem auto;
    
  

}
.card{
    padding-top: 2rem;
    width: 31%;
    float: left;
    margin-right: 1.2rem;
    min-height: 12rem;
    border: 2px solid #f1f1f1;
    border-radius: 0.5rem;
}
.last{
    margin-right: 0;
}
.card h5{
    color: var(--orange);
        font-size: 1.25rem;
}
.card p{
    margin-bottom: 1.5rem;
} 
.card:hover{
    cursor: pointer;
    scale: 1.01;
box-shadow: 0 0 5px 2px rgba(0,0,0,0.1);
border: none;   
    border-top: 5px solid var(--orange);
    border-radius: 0;
}